.message {
    width: 100%;
    padding: 4px 0;
    margin: 6px 0;
    display: -webkit-flex;
    display: flex;
    border-radius: 1px;
    cursor: pointer;
}

.message-content {
    overflow: hidden;
    position: relative;
}

.message-content span {
    display: block;
    padding: 1px 10px 0px 10px;
    color: #ff5757;
    transform: translateX(-1000px);
    transition: all 0.6s .2s ease;
}

.message-content i {
    position: relative;
    top: 7px;
    line-height: 0;
}

.message-content.translate span{
    transform: translateX(0) !important;
}

.message-ico {
    min-width: 22px;
    z-index: 1;
    height: 22px;
    position: relative;
    bottom: 0px;
    left: 4px;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding-top: .1em;
}
.message.done .message-ico .material-icons, .message.clear .message-ico .material-icons { font-size: 18px; }

.pulse {
    -webkit-animation: pulse 0.5s ease;
    animation: pulse 0.5s ease;
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -o-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

.message.warning {
    background-color: rgba(253, 193, 63, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(253, 193, 63, 0.35);
}
.message.warning .message-ico {
    background-color: transparent !important;
    width: 10px;
    font-size: 1em;
    color: #fdc13f;
}
.message.warning span {
    color: #fdc13f;
}

.message.clear {
    background-color: rgba(255, 87, 87, 0.07);
    box-shadow: 0px 2px 5px 0px rgba(255, 87, 87, 0.2);
}
.message.clear .message-ico {
    color: #ffffff;
    font-size: .5em;
    background: #ff5757;
}
.message.clear span {
    color: #ff5757;
}

.message.info {
    background-color: rgba(25, 150, 212, 0.06);
    box-shadow: 0px 2px 5px 0px rgba(56, 163, 216, 0.2);
}
.message.info .message-ico {
    color: #1996D4;
    font-size: 1em;
    width: 20px;
}
.message.info span {
    color: #1996D4;
}

.message.done {
    background-color: rgba(80, 199, 85, 0.12);
    box-shadow: 0px 2px 5px 0px rgba(80, 199, 85, 0.3);
}
.message.done .message-ico {
    color: #ffffff;
    font-size: .5em;
    background: #50c755;
}
.message.done span {
    color: #50c755;
}
