* { cursor: none; user-select: none; -webkit-user-select: none; }
html.initGame { cursor: default !important; }
body { overflow: hidden; transition: background 0.5s; margin: 0; padding: 0; }

div.ball {
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	box-shadow: 0px 0px 10px #000, inset 0px 0px 10px #000;
	transition: top 0.2s linear, left 0.2s linear;
}

div.play {
	cursor: pointer !important;
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	font-size: 20px;
	color: #fff;
	padding-top: 40px;
	box-sizing: border-box;
	text-shadow: 0 0 2px #000;
	transition: width 0.3s, height 0.3s, margin-top 0.3s, margin-left 0.3s, font-size 0.3s, text-shadow 0.3s, opacity 0.3s, top 1s linear, left 1s linear !important;
}
div.play:hover {
	width: 140px;
	height: 140px;
	margin-top: -20px;
	margin-left: -20px;
	font-size: 45px;
	text-shadow: 0 0 8px #000;
	opacity: 0.8;
}

.explosion {
	position: absolute;
	width: 130px;
	height: auto;
	margin-top: -40px;
	margin-left: -20px;
	z-index: 9999;
}

@keyframes pulse {
	0% { width: 80px; height: 80px; margin: 10px; box-shadow: 0px 0px 30px #000, inset 0px 0px 20px #000; }
	50% { width: 130px; height: 130px; margin: -15px; box-shadow: 0px 0px 30px #f00, inset 0px 0px 20px #f00; }
	100% { width: 80px; height: 80px; margin: 10px; box-shadow: 0px 0px 30px #000, inset 0px 0px 20px #000; }
}
.pulse { animation: pulse 0.7s linear infinite; }

@keyframes explode {
	100% { 
		width: 132px; 
		height: 132px; 
		margin-top: -16px; 
		margin-left: -16px; 
		opacity: 0; 
		box-shadow: 0px 0px 30px #000, inset 0px 0px 20px #000 !important; 
		background-color: #f00;
	}
}
.explode { animation: explode 0.8s; }

.score { 
	text-align: center; 
	font-size: 150px; 
	color: #000; 
	opacity: 0.4; 
	position: absolute; 
	z-index: -1; 
	width: 100%;
	font-family: Arial;
	top: 20px;
	text-shadow: 0 0 10px #000;
}

.timer {
	position: absolute;
	width: 100%;
	height: 20px;
	background: #000;
	border-bottom: 1px solid #000;
	box-shadow: 0px 0px 10px #000, inset 0px 0px 5px #000 !important; 
}
