* { 
    user-select: none; 
    -ms-user-select: none; 
    -moz-user-select: none; 
    -webkit-user-select: none; 
    outline: none;
    font-family: Candara;
}
body { 
    margin: 0; 
    padding: 0;
    overflow: hidden;
    transition: background 0.3s;
}

.playScreen {
    position: absolute;
    min-width: 460px;
    height: 80px;
    border-bottom: 2px solid #000;
    box-shadow: 0px 0px 5px #000;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.6);
    padding-top: 10px;
    top: 0;
    transition: all 0.7s;
    z-index: 10;
}
.playScreen.closed{
    top: -78px;
}
.menu-playScreen {
    position: absolute;
    top: 80px;
    left: 5px;
    background: #000;
    color: #fff;
    width: 60px;
    height: 20px;
    border-radius: 0 0 5px 5px;
    border: 0;
    text-align: center;
    font-family: Consolas;
    padding: 0;
    cursor: pointer;
    z-index: 10;
}

#btnMineField {
    width: 120px;
    height: 50px;
    font-size: 30px;
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: 0px 0px 5px #000;
    background: linear-gradient(#808080, #000);
    color: #808080;
    cursor: pointer;
    margin-left: 10px;
}
#btnMineField:hover {
    text-shadow: 0px 0px 10px #000;
    color: #fff;
    background: linear-gradient(#ff3232, #000);
}
#btnMineField:active {
    background: linear-gradient(#000, #ff3232);
}

.options {
    margin-left: 10px;
    display: inline-block;
    text-align: center;
}
.options label {
    float: left;
    font-size: 30px;
    padding: 3px 5px 0 0;
    text-align: right;
}
.options input { 
    font-size: 30px;
    width: 80px;
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow:  0px 0px 3px #808080;
    outline: none;
    text-align: center;
}

.mineCamp {
    box-sizing: border-box;
    padding: 2px;
    margin: 0 auto;
    height: auto;
    min-width: 600px;
    min-height: 600px;
}
.mineCamp div {
    text-align: center;
}

.field {
    box-sizing: border-box;
    border: 1px solid #000;
    background: linear-gradient(#ddd, #808080);
    cursor: pointer;
    font-weight: bold;
    font-family: Consolas;
}
.field[class='field']:not(:disabled):hover { background: linear-gradient(#ddd, #000); }
.field::after { font-size: 20px; content: '0'; color: transparent; }
.field.disabled { cursor: auto; background: linear-gradient(#ddd, #fff); }
.field.mine { background: linear-gradient(#ddd, red); }
.field.mineFound { background: linear-gradient(#ddd, gold); }
.field.doubts::after { content: '?'; color: #000; }
.field[class*=has] { color: #000; }
.field.has1::after { content: '1'; text-shadow: 0 0 3px blue; }
.field.has2::after { content: '2'; text-shadow: 0 0 3px green; }
.field.has3::after { content: '3'; text-shadow: 0 0 3px darkgoldenrod; }
.field.has4::after { content: '4'; text-shadow: 0 0 3px red; }
.field.has5::after { content: '5'; text-shadow: 0 0 3px orange; }
.field.has6::after { content: '6'; text-shadow: 0 0 3px purple; }
.field.has7::after { content: '7'; text-shadow: 0 0 3px chocolate; }
.field.has8::after { content: '8'; text-shadow: 0 0 3px magenta; }

.sibling1 { box-shadow: inset  2px  2px 1px #000; }
.sibling2 { box-shadow: inset  0px  2px 1px #000; }
.sibling3 { box-shadow: inset -2px  2px 1px #000; }
.sibling4 { box-shadow: inset  2px  0px 1px #000; }
.sibling5 { box-shadow: inset -2px  0px 1px #000; }
.sibling6 { box-shadow: inset  2px -2px 1px #000; }
.sibling7 { box-shadow: inset  0px -2px 1px #000; }
.sibling8 { box-shadow: inset -2px -2px 1px #000; }

@keyframes rotate {
    0% { transform: rotate(0deg); } 
    100% { transform: rotate(360deg); } 
}
.rotate {
    animation: rotate 1s infinite linear;
}

@keyframes rotate-h {
    0% { transform: rotate(0deg); } 
    100% { transform: rotate(-360deg); } 
}
.rotate-h {
    animation: rotate-h 1s infinite linear;
}
