* { outline: none; box-sizing: border-box; }
html, body { margin: 0; padding: 0; height: 100%; }
body { background-color: #eee; font-family: 'Trebuchet MS', sans-serif; color: #555; }

.material-icons { position: relative; top: 2px; }
.container { display: flex; height: 100%; }

.h-center { justify-content: center; }
.v-center { align-items: center; }

div[class^=w] { display: inline-block; }
.w20 { width: 20%; }
.w25 { width: 25%; }
.w30 { width: 29%; }
.off25 { margin-left: 25%; }
.w50 { width: 50%; }
.w70 { width: 69%; }
.w75 { width: 75%; }
.w80 { width: 79%; }
.w100 { width: 100%; }

.card {
    min-height: 250px;
    min-width: 200px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 2px 2px 2px #a2a2a2;
    margin: 10px;
}

.input, .select {
    width: 100%;
    display: block;
    padding: 5px 3px;
    margin: 15px 0;
    font-size: 14px;
    border: 0;
    border-bottom: 1px solid #ccc;
    outline: none;
}
input[type=radio] + label, input[type=checkbox] + label {
    color: #555;
}

.select {
    position: relative;
    top: -1px;
}

.input:focus, .select:focus {
    border-bottom: 1px solid #5bb4ff;
}

.button {
    min-width: 50px;
    background-color: #00abff;
    border: 0;
    border-radius: 2px;
    padding: 2px 10px;
    cursor: pointer;
    transition: 0.3s all;
    color: #fff;
    margin: 2px 0;
}
.button:disabled {
    background: #ddd;
}
.button:hover {
    background-color: #009ae7;
    box-shadow: 0 0 2px #333;
}
.button span {
    position: relative;
    top: -4px;
}
.button i {
    font-size: 22px;
}
.button.red {
    background-color: #ff4040;
}
.button.red:hover {
    background-color: #ff1515;
}

.label {
    width: 20%;
    text-align: right;
    display: inline-block;
    padding-right: 5px;
}

.range {
    margin-bottom: 15px;
}
.range div {
    display: inline-block;
    position: relative;
    top: 7px;
}

.textarea { margin: 15px 0; }
.textarea textarea { width: 100%; resize: none; font-family: 'Trebuchet MS', sans-serif; color: #555; }

@keyframes toast-in {
    0% { left: 370px; }
    70% { left: -20px; }
    100% { left: 0px; }
}

.toast-wrap {
    position: fixed;
    padding: 20px 20px 0 0;
    right: 0;
    top: 0;
    z-index: 9999;
}
.toast {
    position: relative;
    width: 350px;
    min-height: 80px;
    box-shadow: 2px 2px 2px #ddd;
    border-radius: 2px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.5s;
    margin-bottom: 20px;
    animation: toast-in 0.5s;
}
.toast-icon {
    position: absolute;
    min-height: 80px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toast-icon i { font-size: 28px; }
.toast-message {
    margin-left: 60px;
    margin-right: 30px;
    height: 80px;
    display: flex;
    align-items: center;
}
.toast-close {
    position: absolute;
    top: 4px;
    right: 7px;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
}
.toast-timer {
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0px;
}

.toast.default { background: #fff; color: #555; }
.toast.default .toast-icon { border-right: 1px solid #555; }
.toast.default .toast-timer { background: #555; }

.toast.error { background: #ffc7c7; color: #ff4949; }
.toast.error .toast-icon { border-right: 1px solid #ff4949; }
.toast.error .toast-timer { background: #ff4949; }

.toast.warning { background: #ffe9cc; color: #ff9000; }
.toast.warning .toast-icon { border-right: 1px solid #ff9000; }
.toast.warning .toast-timer { background: #ff9000; }

.toast.success { background: #d8ffd8; color: #00c100; }
.toast.success .toast-icon { border-right: 1px solid #00c100; }
.toast.success .toast-timer { background: #00c100; }

.toast.info { background: #d1f2ff; color: #00a2e2; }
.toast.info .toast-icon { border-right: 1px solid #00a2e2; }
.toast.info .toast-timer { background: #00a2e2; }

.card-button {
    position: relative;
    bottom: 0;
    text-align: right;
    padding-top: 30px;
}

nav {
    width: 52px;
    height: 100%;
    background: #fff;
    box-shadow: 1px 0 2px #666;
    overflow: hidden;
    position: fixed;
    z-index: 1000;
    transition: all 0.2s linear;
}

nav .top-menu {
    width: 100%;
    height: 60px;
    background: #00abff;
}

nav .button-menu {
    position: relative;
    width: 52px;
    padding: 22px 12px;
    cursor: pointer;
}
nav .button-menu div {
    position: relative;
    width: 100%;
    border-bottom: 3px solid #333;   
    transition: all 0.2s linear;
    top: 0px;
    margin-left: 0%;
}
nav .button-menu div:not(:last-child) {
    margin-bottom: 4px;
}

nav.menu-opened {
    width: 200px;
}
nav.menu-opened .button-menu div:nth-child(1) {
    transform: rotateZ(45deg);
    top: 7px;
    border-radius: 5px;
}
nav.menu-opened .button-menu div:nth-child(3) {
    transform: rotateZ(-45deg);
    top: -7px;
    border-radius: 5px;
}
nav.menu-opened .button-menu div:nth-child(2) {
    width: 0%;
    margin-left: 50%;
}
nav.menu-opened + main {
    padding: 80px 20px 20px 220px;
}

nav ul {
    width: 200px;
    margin: 0;
    padding: 0;
    background: #ddd;
    list-style: none;
}

nav ul li {
    height: 40px;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    padding: 10px 0 0 53px;
}
nav ul li:hover {
    background: rgb(182, 182, 182);
}
nav ul li:not(:last-child) {
    border-bottom: 1px dashed #666;
}

nav ul li i.material-icons {
    position: absolute;
    top: 8px;
    left: 15px;
}
nav ul li.selected {
    background: #bbb !important;
}
nav ul li.margin {
    background: #fff;
    height: 10px;
}

.logout {
    color: rgb(255, 91, 91);
}

header {
    width: 100%;
    height: 60px;
    background: #00abff;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-size: 32px;
    box-shadow: 0 2px 2px #666;
}
header .title { margin: 0; }
header .title i { font-size: 30px; }

main {
    transition: all 0.3s;
    padding: 80px 20px 20px 75px;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.card-movie {
    transition: all 0.3s;
    background-color: #ddd;
}
.card-movie .poster {
    position: absolute;
    min-width: 200px;
    min-height: 300px;
    cursor: pointer;
    transition: all 0.3s;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-movie .movie-content {
    opacity: 0;
    position: absolute;
    min-width: 200px;
    min-height: 300px;
    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
    color: #fff;
    z-index: 1000;
}
.card-movie .movie-content .button {
    font-size: 14px;
    padding: 4px 0;
}
.card-movie .movie-content > i {
    font-size: 110px;
    padding-top: 75px;
    margin-bottom: 15px;
}
.card-movie:hover {
    background-color: #000;
}
.card-movie:hover .poster {
    opacity: 0.3;
}
.card-movie:hover .movie-content {
    opacity: 1;
}

.add-movie {
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    background: #00abff;
    border-radius: 50%;
    box-shadow: 1px 1px 2px #333;
    z-index: 2000;
    width: 60px;
    height: 60px;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-content: center;
}
.add-movie i {
    font-size: 45px;
    color: #fff;
    top: 7px;
    transition: all 0.3s;
}
.add-movie:hover {
    bottom: 28px;
    right: 28px;
    width: 64px;
    height: 64px;
    background: #009ae7;
}
.add-movie:hover i {
    top: 9px;
}

.modal-wrap {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.6);
    z-index: 8000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s;
}

.modal {
    position: relative;
    min-width: 300px;
    max-width: 1200px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #888;
    box-shadow: 2px 2px 2px #888;
}

.modal-close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    cursor: pointer;
    top: 3px;
}

.modal-content {
    padding: 35px 20px 20px 20px;
    height: 100%;
    width: 100%;
}

.add-poster {
    position: absolute;
    width: 110px;
    height: 165px;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #666;
    border-radius: 2px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spin {
    animation: spin 0.5s linear infinite;
}

.no-movie {
    text-align: center;
    font-size: 30px;
    display: none;
}
.no-movie-sad {
    font-size: 150px;
}
.no-movie-add {
    font-size: 35px;
    position: relative;
    top: 6px;
    left: 6px;
    background: #00abff;
    border-radius: 50%;
    box-shadow: 1px 1px 2px #333;
    color: #fff;
    padding: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.no-movie-add:hover {
    background: #009ae7;
}

body.dark {
    color: #fff;
    background: #383838;
}
body.dark nav {
    background: #2b2b2b;
}
body.dark nav ul li.margin {
    background: #000;
}
body.dark nav ul li {
    background: rgb(33, 33, 33);
}
body.dark nav ul li:hover, body.dark nav ul li.selected {
    background: rgb(20, 20, 20) !important;
}
body.dark .card {
    box-shadow: 2px 2px 2px #000;
}
body.dark .modal-wrap {
    background-color: rgba(0, 0, 0, 0.6);
}
body.dark .label, .modal-close {
    color: #555;
}
